@font-face {
  font-family: "Avenir";
  src: url(../assets/common/Avenir\ Regular.ttf) format("truetype");
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  background-color: #f8f6f4;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header a {
  font-family: "Baskervville";
}

/* DESKTOP NAVBAR */
.navbar-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.navbar-desktop .nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}
.navbar-desktop .nav-links li {
  position: relative;
  list-style: none;
}
.navbar-desktop .nav-links li a {
  text-decoration: none;
  color: #a06b67;
  font-size: 1.5rem;
  padding: 0 1rem;
  display: inline-block;
}
.navbar-desktop .nav-links li::after {
  content: "";
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 1.2em;
  background-color: #a06b67;
  opacity: 0.4;
}
.navbar-desktop .nav-links li:last-child::after {
  display: none;
}

.nav-links li:has(> a .nav-logo)::after {
  display: none;
}

/* MOBILE NAVBAR */
.navbar-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f6f4;
}
.navbar-mobile .mobile-logo {
  flex: 1;
  text-align: center;
}
.navbar-mobile .mobile-logo .nav-logo {
  width: 5.625rem;
  height: auto;
}
.navbar-mobile .hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
.navbar-mobile .hamburger-menu .menu-icon,
.navbar-mobile .hamburger-menu .close-icon {
  width: 28px;
  height: 28px;
}
.navbar-mobile .hamburger-menu .close-icon {
  display: none;
}
.navbar-mobile .hamburger-menu.open .menu-icon {
  display: none;
}
.navbar-mobile .hamburger-menu.open .close-icon {
  display: block;
}
.navbar-mobile .menu-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #fae9e7;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left 0.3s ease;
  z-index: 1000;
}
.navbar-mobile .menu-mobile .logo-modal {
  width: 95.6px;
  height: 100px;
}
.navbar-mobile .menu-mobile ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.navbar-mobile .menu-mobile ul li {
  list-style: none;
}
.navbar-mobile .menu-mobile ul li a {
  color: #a06b67;
  font-size: 2rem;
  text-decoration: none;
  line-height: 130%;
}
.navbar-mobile .menu-mobile.open {
  left: 0;
}
.navbar-mobile .fa-instagram {
  font-size: 2rem;
  color: #a06b67;
}
.navbar-mobile .container-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.navbar-mobile .container-socials .socials-mobile {
  display: flex;
  gap: 1.5rem;
}
.navbar-mobile .container-socials .socials-mobile a img {
  width: 18px;
  height: 18px;
}

@media (max-width: 1200px) {
  header {
    font-size: 16px;
  }
  .navbar-desktop .nav-logo {
    width: 6.25rem;
  }
  .navbar-desktop .nav-links li a {
    font-size: 1.2rem;
  }
  .navbar-desktop .nav-links {
    gap: 0.5rem;
  }
}
@media (max-width: 901px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: flex;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}
footer .footer-top {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
}
footer .footer-top .socials {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 1.5rem;
}
footer .footer-top span {
  font-family: "Avenir";
}
footer .footer-bottom {
  border-top: 0.5px #191919 solid;
  border-bottom: 0.5px #191919 solid;
  padding: 26px 0px;
  width: 100%;
}
footer .footer-bottom ul {
  display: flex;
  gap: 4rem;
  padding: 0px 4rem;
  justify-content: center;
}
footer .footer-bottom ul li {
  list-style: none;
}
footer .footer-bottom ul li a {
  text-decoration: none;
  color: #a06b67;
  font-size: 1.25rem;
  line-height: 150%;
}
footer span {
  color: #a06b67;
  font-family: "Avenir";
}

@media (max-width: 901px) {
  footer .footer-bottom {
    width: 100%;
  }
  footer .footer-bottom ul {
    padding: 0px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    max-height: 180px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PORTFOLIO STYLES */
.main-hero {
  background-color: #f8f6f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 227px;
  padding-bottom: 1rem;
}
.main-hero h1 {
  color: #a06b67;
  font-size: 5rem;
  line-height: 130%;
  letter-spacing: 13%;
  font-weight: 400;
  font-family: "Baskervville";
}
.main-hero hr {
  width: 200px;
  margin-bottom: 2rem;
}
.main-hero p {
  font-weight: 300px;
  font-size: 1.125rem;
  line-height: 150%;
  max-width: 585px;
  text-align: center;
  font-family: "Avenir";
}

.main-content {
  background-color: #fae9e7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-buttons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px #a3a3a3 solid;
  position: relative;
}
.main-content-buttons button {
  font-family: "Baskervville";
  border: none;
  font-size: 2rem;
  font-weight: 400;
  line-height: 130%;
  background-color: #fae9e7;
  padding-bottom: 11px;
  position: relative;
  cursor: pointer;
  padding: 0px 2rem 11px 2rem;
}
.main-content-buttons button:not(.selected) {
  color: #a3a3a3;
}
.main-content-buttons button.selected {
  color: #191919;
}
.main-content-buttons button.selected::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #191919;
}

.makeup-images,
.hairstyle-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease;
}
.makeup-images img,
.hairstyle-images img {
  width: 100%;
  height: 100%;
}

.hairstyle-images {
  display: none;
}

.btn-more {
  border: 0.8px #a06b67 solid;
  padding: 24px 32px;
  color: #a06b67;
  margin-top: 60px;
  margin-bottom: 130px;
  font-size: 1.25rem;
  font-family: "Baskervville";
}

@media (max-width: 901px) {
  .main-content-buttons {
    gap: 1em;
  }
  .main-content-buttons button {
    padding: 0.5rem;
  }
  .makeup-images,
  .hairstyle-images {
    grid-template-columns: 1fr;
  }
  .makeup-images img,
  .hairstyle-images img {
    display: none;
  }
  .makeup-images img:nth-child(-n+4),
  .hairstyle-images img:nth-child(-n+4) {
    display: block;
  }
  .expanded img {
    display: block !important;
  }
}

/*# sourceMappingURL=portfolio.css.map */
