$color-brand-black: #191919;
$color-bold-main: #725a58;
$color-accent-pink: #e3b6b1;
$color-light-pink: #fae9e7;
$color-pale-white: #f8f6f4;
$color-paper-white: #fbfafa;
$color-mid-grey: #a3a3a3;
$color-dark-grey: #535353;
$color-dark-pink: #b99692;
$color-brown: #a06b67;
