// To apply to main.css, run `sass ./scss/main.scss:./css/main.css`
@use "colors";
@use "font";
@use "header";
@use "footer";
@use "pages/home";

body {
  margin: 0;
  font-family: font.$font-avenir;
  font-size: 18px;
  line-height: 150px;
  color: colors.$color-brand-black;
  background-color: colors.$color-pale-white;
}

h1 {
  font-size: 80px;
  line-height: 120px;
  font-family: font.$font-baskervville;
}

h2 {
  font-size: 68px;
  line-height: 110px;
  font-family: font.$font-baskervville;
}

h3 {
  font-size: 48px;
  line-height: 130px;
  font-family: font.$font-baskervville;
}

h4 {
  font-size: 36px;
  line-height: 120px;
  font-family: font.$font-baskervville;
}

h5 {
  font-size: 32px;
  line-height: 130px;
  font-family: font.$font-baskervville;
}

h6 {
  font-size: 24px;
  line-height: 130px;
  font-family: font.$font-baskervville;
}
